<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="./images/logo.jpg">
    <a href="getFile/lyy/ip.txt" target="_self">我的文档</a>
    <a href="getFile/lyy/www.pdf" target="_self">我的文档1</a>
  </body>
</html>
