<!DOCTYPE html>
<html>
<head>
    <%- include ./parts/head.ejs %>
</head>
<body >
    <%- include ./parts/header.ejs %>
    <div id="index">
        <div id="index_box">
            <div id="index_nav">
                <ul>
                    <li>
                        <a href="/">网站主页</a>
                        <span>|</span>
                    </li>
                    <li>
                        <a>企业介绍</a>
                        <span>|</span>
                    </li>
                    <li>
                        <a>业绩展示</a>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%- include ./parts/foot.ejs %>
</body>
</html>
