<div id="footer">
    <div class="f_div">
        <div class="float_left">
            地址：上海市闵行区莘建东路58弄B座1314室 | 联系方式：021-64886124 | 传真：021-64886137<br>
            © 2014-2015 上海春川建筑劳务有限公司 版权所有 沪ICP备14025453号-1
        </div>
        <div class="float_right">
            <a href="http://www.yybigworld.me" target="_blank">网站设计: www.yybigworld.me</a>
        </div>
    </div>
</div>