<div id="header">
    <div class="h_div">
        <div class="float_left">
            <a href="/">
                <img src="./images/logo.jpg" alt="seo" title="seo">
            </a>
        </div>
        <div class="float_right tel">
            <p>
                联系电话: <span>555-88885555</span>
            </p>
        </div>
    </div>
</div>